.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font-size: 12px;
  font-family: "PT-Sans", Helvetica, sans-serif;
}

.link {
  fill: none;
  stroke: #FF66FF;
  stroke-width: 2px;
}

#rf-title {
  margin-top: 25px;
  font-family: "PT-Sans", Helvetica, sans-serif;
  letter-spacing: -2px;
  font-weight: 300;
}

#rf-subtitle {
  font-family: "PT-Serif", Helvetica, sans-serif;
  font-style: oblique;
  margin-top: 20px;
}

#predict-button {
  margin-left: 10px;
}

#rf-buttons {
  margin-top: 25px;
}

#prediction-container {
  margin-top: 20px;
}