.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font-size: 12px;
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
}

.link {
  fill: none;
  stroke: #FF66FF;
  stroke-width: 2px;
}

#rf-subtitle {
  margin-top: 20px;
}

#predict-button {
  margin-left: 10px;
}